.header {
  position: fixed;
  z-index:1;
  width: 100%;
  height: 5%;
  background: #000000;
  margin-left: auto;
  margin-right: auto;
  font-family: "Kaushan Script";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  justify-content: right;
  align-items: center;
}

.header p {
  font-size: 34px;
}

.header button {
  border-radius: 8px;
  font-family: "Koulen";
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  color: #ffffff;
  height: 30px;
  background-color: #000000;
  border: none;
  height: 50px;
  width: 150px;
}

#whiteButton {
  background-color: white;
  color: black;
}

.header p {
  margin-right: 35%;
}
